.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}
.head {
  font-family: 'Roboto';
  font-size: 30px;
}

.para {
  font-family: 'Roboto';
  font-size: 14px;
}

.img {
  display: flex;
  justify-content: flex-end;
}

/* Write CSS code here. */
